@use 'variables.scss' as *;

.wrapper {
  padding: $container-padding;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.user-preview-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
