@use "variables" as *;

.wrapper {
  display: grid;
  grid-template-columns: minmax(300px, 2.5fr) minmax(100px, 1fr);
}

.blogs {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.left-section {
  display: flex;
  padding: $container-padding;
  flex-direction: column;
}

.right-section {
  position: sticky;
  top: 0;
  height: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: $container-padding;
  border-left: 1px solid $border-color;
  max-height: 100vh;
}

.users {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.load-more {
  width: fit-content;
  margin: auto;
}

.slogan {
  display: flex;
  gap: 12px;
  flex-direction: column;
  margin-top: auto;
}

.sub-slogan {
  font-size: $font-size-14;
  line-height: 20px;
}
