<form [formGroup]="userForm" (submit)="onSubmit()" class="container-sm wrapper">
  @if (currentUser(); as user) {
    <knc-avatar size="large" [user]="user" />

    <p class="email"><b>Email: </b>{{ user.email }}</p>
    <p class="email"><b>Full Name: </b>{{ user.fullName }}</p>

    <knc-label label="First Name" [isRequired]="true">
      <knc-input placeholder="First Name" formControlName="firstName" name="first-name"></knc-input>
    </knc-label>

    <knc-label label="Last Name" [isRequired]="true">
      <knc-input placeholder="Last Name" formControlName="lastName" name="last-name"></knc-input>
    </knc-label>

    <button class="submit-button" type="submit" mat-raised-button color="primary">Update</button>
  }
</form>
